<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataExchange>
      <itemModelRepository type="DropboxProvider.Repository.CustomItemRepository, DropboxProvider" patch:instead="itemModelRepository[@type='Sitecore.DataExchange.Local.Repositories.InProcItemModelRepository, Sitecore.DataExchange.Local']">
        <databaseName>master</databaseName>
      </itemModelRepository>
    </dataExchange>
  </sitecore>
</configuration>