<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dropbox.Api" version="4.9.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Sitecore.DataExchange" version="3.0.0" targetFramework="net471" />
  <package id="Sitecore.DataExchange.DataAccess" version="3.0.0" targetFramework="net471" />
  <package id="Sitecore.DataExchange.Local" version="3.0.0" targetFramework="net471" />
  <package id="Sitecore.DataExchange.Providers.Sc" version="2.1.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Services.Client" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Services.Core" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Services.Infrastructure" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Services.Infrastructure.Sitecore" version="9.2.0" targetFramework="net471" />
</packages>